
{% extends 'base/base.html' %}
{% block content %}

<div class="container text-center">
<h4>List of Tasks</h4>
</div>

{% for task in tasks %}
<div class="task-wrapper">
{% if task.completed %}
<div>{{task.title}}</div>
    <div>
    <a href="{% url 'task_detail' task.pk %}"><i class="bi bi-eye"></i></a>
    <a href="{% url 'task_update' task.pk %}"><i class="bi bi-pencil-fill"></i></a>
    <a href="{% url 'task_delete' task.pk %}"><i class="bi bi-trash text-danger"></i></a>
    </div>
{% else %}
<div>{{task.title}}</div>
    <div>
    <a href="{% url 'task_detail' task.pk %}"><i class="bi bi-eye"></i></a>
    <a href="{% url 'task_update' task.pk %}"><i class="bi bi-pencil-fill"></i></a>
    <a href="{% url 'task_delete' task.pk %}"><i class="bi bi-trash text-danger"></i></a>
    </div>
{% endif %}
</div>
{% endfor %}
<div class="container text-center">
<a href="{% url 'task_create' %}">Add a Task</a>
</div>
{% endblock %}

